<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      href="https://fonts.googleapis.com/css?family=Lato:300,300i,700"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/css/style.css" />
    <link rel="shortcut icon" type="image/png" href="/img/favicon.png" />
    
    <title>Natours | <%= title %> </title>
  </head>
  
    <body data-alert="<%= alert ? alert : '' %>">


    <%- include('header') %>
<!--     
    <% if (locals.alert && alert !== 'undefined') { %>
        <div class="alert alert--success"><%= alert %></div>
    <% } %> -->


     <!-- <main class="main">  -->
         <%-body %> 
         <!-- </main>  -->
    
       <%- include('footer') %>
         <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    </body>   
    
     <!-- <script src="/js/mapbox.js" defer></script>
    <script src="/js/login.js" defer ></script>  -->
    <!-- <script defer src="/js/bundle.js"></script> -->